<table>
  <tr>
    <th>Tool Name</th>
    <th>Users</th>
    <th>Category</th>
  </tr>
  <% unless tools.empty? %>
    <% tools.each do |tool| %>
      <tr>
        <td><%= link_to tool.name, tool %></td>
        <td><%= tool.users.size %></td>
        <td><%= tool.category.nil? ? 'Uncategorized' : tool.category.name %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No tools found!</td>
    </tr>
  <% end %>
</table>