<table>
  <tr>
    <th>Tool Name</th>
    <th>Users</th>
    <th>Category</th>
  </tr>
  <% tools.each do |tool| %>
    <tr>
      <td><%= link_to tool.name, tool %></td>
      <td><%= user_count[tool.id].nil? ? 0 : user_count[tool.id] %></td>
      <td><%= tool.category.nil? ? 'Uncategorized' : tool.category.name %></td>
    </tr>
  <% end %>
</table>