<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% unless tool.users.empty? %>
    <% tool.users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% tool_user = tool.tool_users.find { |tu| tu.user_id == user.id } %>
          <%= button_to 'X', tool_user_path(tool_user.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2">This tool isn't used by any users!</td>
    </tr>
  <% end %>
</table>