<table>
  <tr>
    <th>Name</th>
    <th>Tools</th>
  </tr>
  <% unless users.empty? %>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= tool_count[user.id].nil? ? 0 : tool_count[user.id] %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2">No users found!</td>
    </tr>
  <% end %>
</table>