<h1>Homepage</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>I'll put some links in here later...</p>

<ul>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <li>
    <%= link_to 'Tools', tools_path %>
  </li>
  <li>
    <%= link_to 'Categories', categories_path %>
  </li>
</ul>