<table>
  <tr>
    <th colspan="2">Uncategorized Tools</th>
  </tr>
  <tr>
    <th>Tool</th>
    <th>Users</th>
  </tr>
  <% unless uncategorized_tools.empty? %>
    <% uncategorized_tools.each do |tool| %>
      <tr>
        <td><%= link_to tool.name, tool %></td>
        <td><%= tool.users.size %></td>
      </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="2">No uncategorized tools!</td>
  </tr>
  <% end %>
</table>