<table>
  <tr>
    <th>Tool Name</th>
    <th>Users</th>
  </tr>
  <% uncategorized_tools.each do |tool| %>
    <tr>
      <td><%= link_to tool.name, tool %></td>
      <td><%= tool_user_count[tool.id].nil? ? 0 : tool_user_count[tool.id] %></td>
    </tr>
  <% end %>
</table>